
.app-mobile-section {
  background: transparent;
  padding: 4rem 2rem;
  color: #fff;
}

.app-mobile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 2rem;
}

.app-mobile-text {
  flex: 1;
  min-width: 300px;
  margin-top: -200px;
}

.app-mobile-text h2 {
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 1rem;
  text-transform: uppercase;
  margin-left: 20px;
}

.app-mobile-text p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  max-width: 500px;
  color: #CBD5E1;
  margin-left: 23px;
}

.app-description p {
  color: #CBD5E1;
}

/* Texte “Télécharge l’app …” */
.download-text {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 23px;
  text-align: left;
}

.download-text span{
  color: #F26C00
;
}

/* Ligne logo + boutons */
.logo-buttons-line {
  display: flex;
  align-items: center; /* logo centré verticalement avec les boutons */
  gap: 10px;
  margin-left: 13px;
  margin-top: -20px;
}

/* Logo de l'application */
.app-logo img {
  width:80px;
  height: auto;
}

/* Conteneur boutons */
.app-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: nowrap; /* boutons côte à côte */
}

/* Boutons */
.app-btn.store {
  display: flex;
  align-items: center; /* logo centré verticalement */
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 8px;
  transition: background 0.3s, transform 0.2s;
  color: #000;
  background-color: #fff;
  border: 1px solid black;
}

/* Logo dans les boutons */
.store-logo {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  flex-shrink: 0;
}

/* Texte dans les boutons */
.store-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
}

.top-text {
  font-size: 0.85rem;
}

.bottom-text {
  font-size: 1rem;
  font-weight: 600;
}

/* Couleurs spécifiques iOS / Android */
.app-btn.store.ios:hover,
.app-btn.store.android:hover {
  background-color: #f0f0f0;
}

.app-mobile-image {
  flex: 1;
  text-align: center;
}

.app-mobile-image img {
  max-width: 70%;
  height: auto;
  border-radius: 30px;
  margin-top: 0px;
  opacity: 0;
  transform: translateY(300px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Image visible quand la section est à l'écran */
.app-mobile-image img.is-visible {
  opacity: 1;
  transform: translateY(0);
}

/* ==================== RESPONSIVE ==================== */
@media (max-width: 992px) {
  .app-mobile-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .app-mobile-text p,
  .download-text,
  .logo-buttons-line {
    margin: 0 auto;
    text-align: center;
  }

  .logo-buttons-line {
    flex-direction: column;
    gap: 15px;
  }
}
